body{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
.head{
    text-align: center;
    color: aliceblue;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    display: grid;
    inline-size: 50%;
    margin-inline: auto;
    max-inline-size: 20rem;
    
}
option,select{
    color: aliceblue;
    background-color: rgba(92, 88, 88, 0.575);
    border-radius: 10px;
}
textarea{
    background-color: rgb(240, 234, 239);
    color: rgb(23, 23, 24);
    border-radius: 10px;
}
textarea:hover{
    background-color: rgb(240, 234, 239);
}
#btn{
    color: aliceblue;
    background-color: orange;
    padding: 10px 5px;
    border-radius: 20px;
    
}
#btn:hover{
    cursor: pointer;
}
.foot{
    text-align: center;
    color: aliceblue;
}